/*
 * Copyright MADE/YOUR/DAY OG <mail@madeyourday.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.rsfh-toolbar {
	position: absolute;
	z-index: 999998;
	margin: -1px 1px 1px -1px;
	padding: 0 3px;
	border: 1px solid #ddd;
	font: 12px/16px Verdana, Arial, sans-serif;
	color: #000;
	background: white;
}
.rsfh-toolbar:hover {
	opacity: 1;
}
.rsfh-main-toolbar {
	position: fixed;
	top: 0;
	left: 0;
}
.rsfh-overlay {
	position: absolute;
	z-index: 999997;
	border-radius: 3px;
	background: #26ade4;
	opacity: .2;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.75) inset;
	pointer-events: none;
}
.rsfh-drop-indicator {
	position: absolute;
	z-index: 999997;
	height: 6px;
	margin-top: -3px;
	background: #26ade4;
	opacity: .75;
	pointer-events: none;
}
.rsfh-toolbar > a {
	float: left;
	width: 20px;
	height: 26px;
	background: 50% 50% no-repeat;
}
.rsfh-toolbar > a > .rsfh-label {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	white-space: nowrap;
	padding: 5px 10px;
	margin: 0 -1px -1px;
	border: 1px solid #ddd;
	color: #000;
	background: #f9f9fb;
}
.rsfh-toolbar > a:hover > .rsfh-label {
	display: block;
}
.rsfh-main-toolbar > a {
	width: 26px;
	height: 32px;
}
a.rsfh-edit {
	background-image: url("../../../system/themes/flexible/icons/edit.svg");
}
a.rsfh-pastenew {
	background-image: url("../../../system/themes/flexible/icons/new.svg");
}
a.rsfh-pastebottom {
	background-image: url("../img/newbottom.gif");
}
a.rsfh-delete {
	background-image: url("../../../system/themes/flexible/icons/delete.svg");
}
a.rsfh-elements {
	background-image: url("../../../system/themes/flexible/icons/new.svg");
}
a.rsfh-backend {
	background-image: url("../../../system/themes/flexible/images/home.gif");
}
a.rsfh-article {
	background-image: url("../../../system/themes/flexible/icons/articles.svg");
}
a.rsfh-fe-module {
	background-image: url("../../../system/themes/flexible/icons/modules.svg");
}
a.rsfh-page {
	background-image: url("../../../system/themes/flexible/icons/regular.svg");
}
a.rsfh-layout {
	background-image: url("../../../system/themes/flexible/icons/layout.svg");
}
a.rsfh-image-size {
	background-image: url("../../../system/themes/flexible/icons/sizes.svg");
}
a.rsfh-stylesheet {
	background-image: url("../../../system/themes/flexible/icons/css.svg");
}
a.rsfh-assistant {
	background-image: url("../../../bundles/rocksolidthemeassistant/images/icon.png");
}
a.rsfh-preview {
	background-image: url("../../../system/themes/flexible/images/preview.gif");
}
a.rsfh-preview.rsfh-preview-active {
	opacity: 0.5;
}
a.rsfh-activate {
	background-image: url("../../../system/themes/flexible/icons/ok.svg");
}
a.rsfh-activate.rsfh-activate-active {
	background-image: url("../../../system/themes/flexible/icons/delete_.svg");
}
.rsfh-main-nav {
	position: relative;
	float: left;
	width: 36px;
	height: 32px;
	margin: 0 5px 0 -3px;
	border-right: 1px solid #eee;
}
.rsfh-main-nav:hover {
	border-right-color: #ddd;
}
.rsfh-main-nav:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	margin: -4px 0 0 -5px;
	border: 5px solid transparent;
	border-top-color: #999;
	border-top-width: 10px;
}
.rsfh-main-nav > div {
	display: none;
	position: absolute;
	top: 100%;
	left: -1px;
	padding: 10px 20px 10px 12px;
	border: 1px solid #ddd;
	white-space: nowrap;
	background: white;
	background: #fff;
}
.rsfh-main-nav > div:before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0;
	width: 35px;
	height: 1px;
	background: #fff;
}
.rsfh-main-nav > div > a {
	display: block;
	padding: 2px 0 3px 20px;
	color: inherit;
	text-decoration: none;
	white-space: nowrap;
	background-position: 0 50%;
	background-repeat: no-repeat;
}
.rsfh-main-nav > div > a:hover,
.rsfh-main-nav > div > a:focus {
	color: #8ab858;
}
.rsfh-main-nav:hover > div {
	display: block;
}
.rsfh-main-nav > div > hr {
	margin: 6px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #eee;
}
.rsfh-info {
	position: relative;
	float: left;
	width: 20px;
	height: 26px;
	background: url("../../../system/themes/flexible/icons/show.svg") 50% 50% no-repeat;
}
.rsfh-main-toolbar .rsfh-info {
	width: 26px;
	height: 32px;
}
.rsfh-info:hover {
	width: 30px;
	margin-right: -5px;
	margin-left: -5px;
	z-index: 1;
}
.rsfh-main-toolbar .rsfh-info:hover {
	width: 36px;
}
.rsfh-info > div {
	display: none;
	position: absolute;
	top: 100%;
	left: -6px;
	margin-top: -5px;
	padding: 10px 15px;
	white-space: nowrap;
	background: white;
	background: rgba(255, 255, 255, .95);
	box-shadow: 0 0 2px rgba(0, 0, 0, .3);
	font-size: 11px;
	line-height: 14px;
}
.rsfh-info-column {
	margin-bottom: 5px;
}
.rsfh-templates-label {
	display: block;
	font-weight: bold;
	color: #666;
	font-size: 12px;
	margin-bottom: 5px;
}
.rsfh-info > div a {
	color: inherit;
	text-decoration: none;
}
.rsfh-info > div a:hover,
.rsfh-info > div a:focus {
	color: #8ab858;
}
.rsfh-info:hover > div {
	display: block;
}
.rsfh-drag-handle {
	position: relative;
	float: left;
	width: 20px;
	height: 26px;
	background: url("../../../system/themes/flexible/icons/drag.svg") 50% 50% no-repeat;
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}
.rsfh-drag-handle:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}
.rsfh-lightbox,
.rsfh-element-list {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.6);
	/* Fixes iOS scrolling */
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.rsfh-lightbox.is-popup,
.rsfh-element-list {
	right: auto;
	width: 320px;
	box-shadow: 10px 0 rgba(0, 0, 0, 0.25);
	background-color: #fff;
	transition: left 0.3s ease-out;
}
.rsfh-lightbox.is-popup.is-closed,
.rsfh-element-list.is-closed {
	left: -330px;
}
.rsfh-lightbox:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin: -25px;
	border-radius: 10px;
	background: #fff url("../../../system/themes/flexible/icons/loading.svg") 50% 50% no-repeat;
}
.rsfh-lightbox iframe {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100%;
	border: 20px solid transparent;
	margin-bottom: -20px;
}
.rsfh-lightbox.is-popup iframe {
	border-width: 36px 0 0 0;
}
.rsfh-lightbox-close,
.rsfh-lightbox-cancel,
.rsfh-element-list-close {
	box-sizing: border-box;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 30px;
	border: 2px solid #fff;
	border-radius: 99em;
	font: 13px/26px Arial, sans-serif;
	color: #fff;
	text-align: center;
	text-decoration: none !important;
	background: #000;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.is-popup > .rsfh-lightbox-close,
.is-popup > .rsfh-lightbox-cancel,
.rsfh-element-list-close {
	height: 26px;
	border: 0;
	border-radius: 0;
}
.rsfh-lightbox-close:hover,
.rsfh-lightbox-close:focus,
.rsfh-lightbox-cancel:hover,
.rsfh-lightbox-cancel:focus,
.rsfh-element-list-close:hover,
.rsfh-element-list-close:focus {
	background-color: #444;
}
.rsfh-lightbox-close,
.rsfh-element-list-close {
	width: 30px;
}
.rsfh-lightbox-cancel {
	right: 45px;
	padding-right: 1em;
	padding-left: 1em;
}
.rsfh-element-list {
	font-size: 16px;
	line-height: 1.5;
}
.rsfh-element-list > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.rsfh-element-list > ul > li > span {
	display: block;
	margin: 0;
	padding: 1.5em 1em 0.25em;
	font-weight: bold;
	border-bottom: 1px solid #444;
}
.rsfh-element-list > ul > li > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.rsfh-element-list > ul > li > ul > li {
	margin: 0;
	padding: 0.25em 1em 0.25em 2em;
	border-bottom: 1px solid #444;
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}
.rsfh-element-list > ul > li > ul > li:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}
.rsfh-element-list > ul > li > ul > li:hover {
	background: rgba(0, 0, 0, 0.1);
}
