/*
 * Copyright MADE/YOUR/DAY OG <mail@madeyourday.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.rsfh-toolbar {
	position: absolute;
	z-index: 999999;
	margin: -1px 1px 1px -1px;
	padding: 0 3px;
	border: 1px solid #ddd;
	font: 11px/14px Verdana, Arial, sans-serif;
	color: #000;
	background: white;
}
.rsfh-toolbar:hover {
	opacity: 1;
}
.rsfh-main-toolbar {
	position: fixed;
	top: 0;
	left: 0;
}
.rsfh-overlay {
	position: absolute;
	z-index: 999998;
	border-radius: 3px;
	background: #26ade4;
	opacity: .2;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.75) inset;
}
.rsfh-toolbar > a {
	position: relative;
	float: left;
	width: 20px;
	height: 26px;
	overflow: hidden;
	text-indent: -999px;
	background: 50% 50% no-repeat;
}
.rsfh-main-toolbar > a {
	width: 26px;
	height: 32px;
}
a.rsfh-edit {
	background-image: url("../../../../themes/default/images/edit.gif");
}
a.rsfh-backend {
	background-image: url("../../../../themes/default/images/home.gif");
}
a.rsfh-article {
	background-image: url("../../../../themes/default/images/articles.gif");
}
a.rsfh-fe-module {
	background-image: url("../../../../themes/default/images/modules.gif");
}
a.rsfh-page {
	background-image: url("../../../../themes/default/images/regular.gif");
}
a.rsfh-layout {
	background-image: url("../../../../themes/default/images/layout.gif");
}
a.rsfh-image-size {
	background-image: url("../../../../themes/default/images/sizes.gif");
}
a.rsfh-stylesheet {
	background-image: url("../../../../themes/default/images/css.gif");
}
a.rsfh-assistant {
	background-image: url("../../../rocksolid-theme-assistant/assets/images/icon.png");
}
a.rsfh-preview {
	background-image: url("../../../../themes/default/images/preview.gif");
}
a.rsfh-preview.rsfh-preview-active {
	opacity: 0.5;
}
a.rsfh-activate {
	background-image: url("../../../../themes/default/images/ok.gif");
}
a.rsfh-activate.rsfh-activate-active {
	background-image: url("../../../../themes/default/images/delete_.gif");
}
.rsfh-main-nav {
	position: relative;
	float: left;
	width: 36px;
	height: 32px;
	margin: 0 5px 0 -3px;
	border-right: 1px solid #eee;
}
.rsfh-main-nav:hover {
	border-right-color: #ddd;
}
.rsfh-main-nav:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	margin: -4px 0 0 -5px;
	border: 5px solid transparent;
	border-top-color: #999;
	border-top-width: 10px;
}
.rsfh-main-nav > div {
	display: none;
	position: absolute;
	top: 100%;
	left: -1px;
	padding: 10px 20px 10px 12px;
	border: 1px solid #ddd;
	white-space: nowrap;
	background: white;
	background: #fff;
}
.rsfh-main-nav > div:before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0;
	width: 35px;
	height: 1px;
	background: #fff;
}
.rsfh-main-nav > div > a {
	display: block;
	padding: 2px 0 3px 20px;
	color: inherit;
	text-decoration: none;
	white-space: nowrap;
	background-position: 0 50%;
	background-repeat: no-repeat;
}
.rsfh-main-nav > div > a:hover,
.rsfh-main-nav > div > a:focus {
	color: #8ab858;
}
.rsfh-main-nav:hover > div {
	display: block;
}
.rsfh-main-nav > div > hr {
	margin: 6px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #eee;
}
.rsfh-info {
	position: relative;
	float: left;
	width: 20px;
	height: 26px;
	background: url("../../../../themes/default/images/show.gif") 50% 50% no-repeat;
}
.rsfh-main-toolbar .rsfh-info {
	width: 26px;
	height: 32px;
}
.rsfh-info:hover {
	width: 30px;
	margin-right: -5px;
	margin-left: -5px;
	z-index: 1;
}
.rsfh-main-toolbar .rsfh-info:hover {
	width: 36px;
}
.rsfh-info > div {
	display: none;
	position: absolute;
	top: 100%;
	left: -6px;
	margin-top: -5px;
	padding: 10px 15px;
	white-space: nowrap;
	background: white;
	background: rgba(255, 255, 255, .95);
	box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}
.rsfh-info-column {
	margin-bottom: 5px;
}
.rsfh-templates-label {
	font-weight: bold;
	color: #666;
}
.rsfh-info > div a {
	color: inherit;
	text-decoration: none;
}
.rsfh-info > div a:hover,
.rsfh-info > div a:focus {
	color: #8ab858;
}
.rsfh-info:hover > div {
	display: block;
}
