/*
 * Copyright MADE/YOUR/DAY OG <mail@madeyourday.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.rsfh-toolbar {
	position: absolute;
	z-index: 999999;
	margin: -1px 1px 1px -1px;
	padding: 5px 2px 5px 5px;
	border: 1px solid #ddd;
	font: 12px/14px Arial, Verdana, sans-serif;
	color: #000;
	background: white;
}
.rsfh-toolbar:hover {
	opacity: 1;
}
.rsfh-overlay {
	position: absolute;
	z-index: 999998;
	border-radius: 3px;
	background: #26ade4;
	opacity: .2;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.75) inset;
}
a.rsfh-edit,
a.rsfh-article,
a.rsfh-be-module,
a.rsfh-fe-module,
a.rsfh-page,
a.rsfh-layout,
a.rsfh-assistant,
a.rsfh-preview,
a.rsfh-activate {
	position: relative;
	float: left;
	width: 16px;
	height: 16px;
	overflow: hidden;
	margin-right: 3px;
	text-indent: -999px;
	background: url("../../../../themes/default/images/edit.gif") 50% 50% no-repeat;
}
a.rsfh-article {
	background-image: url("../../../../themes/default/images/articles.gif");
}
a.rsfh-fe-module {
	background-image: url("../../../../themes/default/images/modules.gif");
}
a.rsfh-page {
	background-image: url("../../../../themes/default/images/regular.gif");
}
a.rsfh-layout {
	background-image: url("../../../../themes/default/images/layout.gif");
}
a.rsfh-assistant {
	background-image: url("../../../rocksolid-theme-assistant/assets/images/icon.png");
}
a.rsfh-preview {
	background-image: url("../../../../themes/default/images/preview.gif");
}
a.rsfh-preview.rsfh-preview-active {
	opacity: 0.5;
}
a.rsfh-activate {
	background-image: url("../../../../themes/default/images/ok.gif");
}
a.rsfh-activate.rsfh-activate-active {
	background-image: url("../../../../themes/default/images/delete_.gif");
}
.rsfh-info {
	position: relative;
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	background: url("../../../../themes/default/images/show.gif") 50% 50% no-repeat;
}
.rsfh-info > div {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	padding: 5px 10px;
	white-space: nowrap;
	background: white;
	background: rgba(255, 255, 255, .8);
	box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}
.rsfh-info:hover > div {
	display: block;
}
